/* ////////////////////// */
/* background image specs */
/* ////////////////////// */
body{
    background-image: url("https://i.pinimg.com/originals/88/73/db/8873dbb8df3b0b60d0b80c0c118eea49.jpg"); /*adds background image*/
    background-size: cover;
    background-repeat: no-repeat; /*ensures that background isnt repeat of same image*/
    background-attachment: fixed; /*ensures that background is static regardless of scroll*/
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; /*changes font*/
    color: rgb(103, 192, 130); /*changes font color*/
    font-size: 20px;
}
/* /////////////////////////////////////////// */
/* fonts/colors for default paragraphs/headers */
/* /////////////////////////////////////////// */
h1{
    font-size: 50px;
    color: rgb(0,0,0);
    margin-bottom: 10px;
}
h2{
    color: white;
    margin-bottom: 10px;
}
h3{
    color: white;
    margin-bottom: 10px;
}
p{
    color: white;
}
/* /////////////////////////////////////////////////////////////////////////////// */
/* more specific instructions for different classes, some unused list instructions */
/* /////////////////////////////////////////////////////////////////////////////// */
p.end{
    margin-bottom: 50px;
}
ul{
    list-style-type: disc;
}
li{
    list-style-type: disc;
}
li.end1{
    margin-bottom: 15px;
}
li.end{
    margin-bottom: 30px;
}
li.under{
    margin-top: 15px;   
}
h3.subCat{
    font-weight: 600;
}
p.about{
    margin-right: 200px;
    margin-left: 45px;
    font-size: 20px;
    margin-bottom: 30px;
}
p.goals{
    margin-right: 200px;
    margin-left: 45px;
    font-size: 20px;
    margin-bottom: 30px;
}
p.education{
    margin-right: 200px;
    margin-left: 45px;
    font-size: 20px;
    margin-bottom: 30px;
}
h2.Title2{
    color: black;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
/* /////////////////////////////////////////////// */
/* specifications on positioning and some flourish */
/* /////////////////////////////////////////////// */
div.title{
    background-image: linear-gradient(to bottom right, white, black);
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border: 6px groove white;
    height: 150px;
    font-size: 25px;
}
/*For text in title to be centered: h1.titletxt: margin-top and margin-bottom should each be = div.title: height - (# of lines in title)x(h1.titletext) */
h1.titletxt{
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 40px;
    color: white;
    font-weight: 900;
}
div.mainbody{
    margin-left: 40px;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: left;
}
div.bodysec{
    margin-top: 75px;
    margin-right: 100px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
}
div.txtGate{
    text-align: center;
    width: 134px;
    float: right;
    font-size: 12px;
    margin-right: 40px;
}
div.contacts{
    float: right;
    bottom: 0;
    margin-top: 100px;
    border: 6px dashed white;
    height: 150px;
    margin: 20px;
    padding: 10px;
    width: 400px;
    text-align: left;
}
div.txtborder
{
    text-shadow:
    0 0 0 transparent,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
div.resources{
    font-size: 10px;
    float: left;
    margin: 20px;
    position: fixed;
    bottom: 0;
}
/* ///////////////////////// */
/* image locations and sizes */
/* //////////////////////////*/
img.logo{
    height: 130px;
    width: auto;
    float: left;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.txtimg toriigate{
    display: block;
    margin: 0 auto;
    margin-top: 2px;
}
img.toriigate{
    width: 134px;
    float: right;
}
img.tech{
    float: right;
    margin-right: 40px;
    width: 134px;
}
img.csharp{
    float: right;
    margin-right: 40px;
    width: 134px;
    margin-bottom: 10px;
}
img.gmail{
    width: 25px;
    float: left;
}
img.twitter{
    width:25px;
    float: left;
}
img.linkedin{
    width:25px;
    float: left;
}
